:root {
    --primary-text-color :black
    --title-text-color :#000000
    --accent-color :rgb(127, 255, 191)
}

body{
    background-color: white;
    }

.list {
    list-style: none;
}

.test-link {
    color: rgb(127, 255, 191);
}

.test-link:hover,
.test-link:focus {
    color: black;
}

 .test-link:active {
    color: rgb(119, 0, 255);
 }

 /* Site nav */

 .site-navi a {
    color: rgb(255, 0, 179);
 }

 .site-navi :hover, 
 .site-navi :focus {
    color: var(--primary-text-color);
 }

