:root {
    --primary-text-color :#212121;
    --accent-color :#2196F3;
}

body{
    background-color: #F5F5F5;
    }

.list {
    list-style: none;
}

.first-part {
    color: var(--accent-color);
}

.last-part {
    color: var(--primary-text-color);
}

.logo :hover {
    color:var(--accent-color);
}



 /* Site nav */

 .site-nav a {
    color:var(--primary-text-color);
}

 .site-nav :hover, 
 .site-nav :focus {
    color: var(--accent-color);
 }

 .button-hero {
    color: #ffffff;
    background-color: var(--accent-color);
}

.button-main {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}

.button-main :hover {
    background-color: var(--accent-color);
}



